.customStyle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
.table{
    font-family: monospace;
}
.bordered {
	border: 1px dashed black;
	background-color: #eee;
}
