<app-hello></app-hello>
<app-user-profile></app-user-profile>
<div class="customStyle">
  <h1> Welcome </h1>
  <h2> Course Name: {{ courseName }}</h2>
</div>
<img [src]='imgUrl' width=200 height=100>
<table border=1>
  <tr>
      <td [attr.colspan]="value"> First </td>
      <td>Second</td>
  </tr>
  <tr>
    <th>hello</th>
  </tr>
</table>
<table class="table table-bordered text-center">
  <thead>
     <tr>
       <th [attr.rowspan]="noOfRows" class="align-middle">Name</th>
       <th [attr.colspan]="noOfColumns">Marks</th>
     </tr>
     <tr>
        <th>Test</th>
        <th>Retest</th>
     </tr>
  </thead>
  <tbody>
     <tr>
        <td>John Doe</td>
        <td>78</td>
        <td class="font-weight-bold">NA</td>
     </tr>
     <tr>
        <td>Emily Carter</td>
        <td>48</td>
        <td>86</td>
      </tr>
   </tbody>
</table>
<div style="position: center;">
<button [class.btn-success]="applyClass" [class.btn]="applyClass">Click Me!!</button>
<button [class]="applyClass ? 'btn btn-success mr-5' :'btn btn-primary mr-5'">Click Me!!</button>
</div>
<button [style.background-color]="applyStyle ? 'orange' : 'greenyellow'" [style.color]="applyStyle ? 'black' : 'white'">Click Me!!</button>
<button [style]="applyStyle ? styleObj1 : styleObj2">Click Me!!</button>
<div class="container-fluid text text-center">
  <div class="row mt-5 mb-5">
      <div class="col-md-6 offset-md-3">
          <h3 class="text text-warning">Whats your favourite course ?</h3>
          <div class="form-group">
              <label for="course">
                  <h5>Enter Course:</h5>
              </label>
              <input type="text" class="form-control" name="course" #course id="course">
          </div>
          <!-- Function call with parameters -->
          <button class="btn btn-outline-warning" (click)="updateCourse(course.value)">
              Update Course
          </button>
          <!-- Function call without parameters -->
          <button class="btn btn-outline-danger ml-5" (click)="reset()">Reset</button>
          <h5 class="message text-warning">
              Favourite Course Name: {{courseName}}
          </h5>
      </div>
  </div>
</div>
<input type="text" [(ngModel)]="name"> <br/>
<div>Hello , {{ name }}</div>
<!-- below code is for directives ngIf directive example-->
<div *ngIf="!submitted">
  <form>
     <label>User Name</label>
     <input type="text" #username><br/><br/>
     <label for="password">Password</label>
     <input type="password" name="password" #password><br/>
   </form>
   <button (click)="onSubmit(username.value,password.value)">Login</button>
 </div>
 <div *ngIf="submitted">
   <div *ngIf="isAuthenticated"><!--can also be written as
                                      <div *ngIf="isAuthenticated; else failureMsg">
                                      <h4> Welcome {{userName}} </h4>
                                      </div>
                                      <ng-template #failureMsg>
                                      <h4> Invalid Login !!! Please try again...</h4>
                                        </ng-template>
                                        <button type="button" (click)="submitted=false">Back</button>-->
     <h4> Welcome {{userName}} </h4>
   </div>
   <div *ngIf="!isAuthenticated">
     <h4> Invalid Login !!! Please try again...</h4>
   </div>
   <button type="button" (click)="submitted=false">Back</button>
 </div>
<!-- below is the code for ngFor example--------------------- -->
<ul>
  <li *ngFor="let course of courses;  let i = index"> 
       {{i}} - {{ course.name }} 
  </li>
</ul>
<!-- Below is the code for ngSwitch example---------------------------- -->
<h4>
  Current choice is {{ myChoice }}
</h4>
<div [ngSwitch]="myChoice">
  <p *ngSwitchCase="1">First Choice</p>
  <p *ngSwitchCase="2">Second Choice</p>
  <p *ngSwitchCase="3">Third Choice</p>
  <p *ngSwitchCase="2">Second Choice Again</p>
  <p *ngSwitchDefault>Default Choice</p>
</div>
<div>
  <button (click)="nextChoice()">
                Next Choice
        </button>
</div>
<!-- ngStyle example------------------------- -->
<p [ngStyle]="{
  color:colorName,
  'font-weight':fontWeight,
  borderBottom: borderStyle
}">
Demo for attribute directive ngStyle
</p>
<!-- ngClass example..................-->
<div [ngClass]="{bordered: isBordered}">
  Border {{ isBordered ? "ON" : "OFF" }}
</div>
<!-- custom attribute directng neives example................. ng -->
<button appButton>Click Me!!</button>
<!-- example for built in pipes------------------- -->
<h3> {{ title | titlecase}} </h3>
<table style="text-align:left">
    <tr>
        <th> Product Code </th>
        <td> {{ productCode | lowercase }} </td>
    </tr>
    <tr>
        <th> Product Name </th>
        <td> {{ productName | uppercase }} </td>
    </tr>
</table>
